
$_border-properties: 1px solid conf($colors, 'dividers');

%padding {
  padding: 2px;
}

.c-info {
  margin: 15px;
  padding: 20px 10px;
  font-size: 0.85em;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.62);

    //.c-info__header
    @include e(header) {
      padding: 1px;
      border-bottom: $_border-properties;
    }

    //.c-info__title
    @include e(title) {
      text-transform: uppercase;
      font-weight: 700;
    }

    //.c-info__body
    @include e(body) {
      max-height: 880px;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    //.c-info__table
    @include e(table) {
      margin: 10px;

        td {
          padding: 5px 0;
        }

        td:nth-child(1),
        td:nth-child(2) {
          width: 20%;
        }
    }

    //.c-info__message
    @include e(message) {
      font-variant: small-caps;

      //.c-info__message--warning
      @include m(warning) {
        @extend %padding;
        background-color: rgb(255, 255, 0);
      }

      //.c-info__message--error
      @include m(error) {
        @extend %padding;
        color: #fff;
        background-color: rgb(204, 0, 0);
      }

      //.c-info__message--info
      @include m(info) {
        @extend %padding;
        background-color: rgb(96, 209, 21);
      }
    }

    //.g-grid

    .g-grid {
      padding: 10px 0;
      border-bottom: $_border-properties;
    }
}