
$_border-properties: 1px solid conf($colors, 'dividers');

.c-tab {
    @include border-top-bottom($_border-properties);
    display: flex;
    position: relative;
    min-height: inherit;

    // Layout grid container
    .l-grid {
      width: 100%;
      background-color: color('background', 'lighter');
    }

    // .c-tab__divider
    @include element('divider') {
      display: flex;
      justify-content: space-between;
      border-bottom: $_border-properties;
    }

    @include element('label') {
      align-self: center;
      margin-right: 1em;
      color: conf(conf($colors, dark-text), disabled);
      font-size: 1.7em;
    }

    // .c-tab__list
    @include element('list') {
      display: flex;
    }

    // .c-tab__item
    @include element('item') {
      position: relative;
      padding: 15px 20px;
      border-right: $_border-properties;
      color: conf($colors, 'dividers');
      text-transform: capitalize;

        @include modifier('isActive') {
          top: 2px;
          margin-top: -2px;
          color: initial;
          background: color('background', 'lighter');

            .c-tab__icon {
              color: color('accent') !important;
            }
        }
    }

    // .c-tab__content
    @include element('content') {
      display: none;

        // .c-tab__content--isActive
        @include modifier('isActive') {
          display: block;
        }
    }

    // .c-content
    .c-content {
      display: flex;
      width: 100%;
      min-height: 82.8vh;

        // .c-content__main
        @include element(main) {
          width: 60%;
          padding: 20px;
        }

        // .c-content__aside
        @include element(aside) {
          width: 40%;
          border-color: rgb(255, 255, 255);
          background: rgb(247, 247, 247);
        }
    }
}