$UI-color-key: 'base' !default;

$UI-colors: (
  'primary': (
    'base': #262d33,
    'light': #eef0f2,
    'dark': #1f2429
  ),
  'accent': (
    'base': #ff4f40,
    'light': #ff6e62,
    'dark': #a60d00
  ),
  'secondary': (
    'base': #80c449,
    'light': #9bd06f,
    'dark': #5f9831
  ),
  'foreground': (
    'base': #262b31,
    'light': #3c444e,
    'dark': #171a1e,
    'darker': #000000
  ),
  'background': (
    'base': #e9e9e9,
    'light': #fafafa,
    'dark': #d8d8d8,
    'lighter': #fff
  )
);

$UI-opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4,  // opacity used with darker colors
);

/*

 https://material.io/guidelines/style/color.html#color-text-background-colors

 Dark text on light backgrounds

    Dark text (#000000) Opacity

    Primary text         87%

    Secondary text       54%

    Disabled text,     |
    hint text,         | 38%
    and icons          |

    Dividers             12%


 White text on dark backgrounds

    Light text (#FFFFFF) Opacity

    Primary text         100%

    Secondary text       70%

    Disabled text,     |
    hint text,         | 50%
    and icons          |

    Dividers             12%

*/

$colors: (
  dark: (
    primary-text: color('foreground', 'darker', $opacity: .87),
    secondary-text: color('foreground', 'darker', $opacity: .54),
    disabled-text: color('foreground', 'darker', $opacity: .38)
  ),
  light: (
    primary-text: color('foreground', 'lighter'),
    secondary-text: color('foreground', 'lighter', $opacity: .70),
    disabled-text: color('foreground', 'lighter', $opacity: .50)
  ),
  dividers: color('foreground', 'darker', $opacity: .12)
);
